<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--my css -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/slider.css">
    <link rel="stylesheet" href="../css/subscribe.css">
    <title>Collection2</title>
</head>
<body>

<!-- nave bar -->
<nav class="navbar navbar-default mainheader">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-bar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="mylogo">
                <a  href="../index.html"><img class="headlogo" src="../images/logo_small.jpg"></a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav-bar">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown">BOOK NOW<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-column columns-4 wide-row">
                        <iframe src="http://app.littlehotelier.com/properties/edenaluxuryapartmentsdirect/widget?number_of_days=7"  frameborder="1" scrolling="no" allowtransparency="true" class="reservatoin-head hidden-xs">
                        </iframe>
                        <iframe src="http://app.littlehotelier.com/properties/edenaluxuryapartmentsdirect/booking_widget" height="200" width="250" frameborder="0" scrolling="no" allowtransparency="true" class="visible-xs"></iframe>
                    </ul>
                </li>

                <li class="divider-vertical"></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Room Types <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><h5 href="collections.html">All Types</h5></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="templates/rooms/collections.view.client.html">Edena Collection</a></li>
                        <li><a href="templates/rooms/collections.view.client.html">Edena Urban</a></li>
                        <li><a href="templates/rooms/collections.view.client.html">Edena Park</a></li>
                    </ul>
                </li>

                <li class="divider-vertical"></li>

                <li class="dropdown grid ">
                    <a href="templates/universal/aboutus.view.client.html"> What We Do </a>
                </li>

                <li class="divider-vertical"></li>

                <li class="dropdown grid">
                    <a href="templates/universal/contact.view.client.html">Contact Us</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<section class="content">
    <!-- slider -->
    <div class="slide-container">
        <div data-am-fadeshow="next-prev-navigation">
            <!-- Radio -->
            <input type="radio" name="css-fadeshow" id="slide-1" />
            <input type="radio" name="css-fadeshow" id="slide-2" />
            <input type="radio" name="css-fadeshow" id="slide-3" />
            <input type="radio" name="css-fadeshow" id="slide-4" />
            <input type="radio" name="css-fadeshow" id="slide-5" />
            <!-- Slides -->
            <div class="fs-slides">
                <div class="fs-slide" style="background-image: url(images/EdenaCollection/collection2/livingroom1.JPG);">
                    <!-- Add content to images (sample) -->



                </div>
                <div class="fs-slide" style="background-image: url(images/EdenaCollection/collection2/livingroom2.JPG);">
                    <!-- Add content to images (sample) -->

                </div>
                <div class="fs-slide" style="background-image: url(images/EdenaCollection/collection2/kitchen1.JPG);">
                    <!-- Add content to images (sample) -->

                </div>
                <div class="fs-slide" style="background-image: url(images/EdenaCollection/collection2/livingroom2.JPG);">
                    <!-- Add content to images (sample) -->

                </div>
                <div class="fs-slide" style="background-image: url(images/EdenaCollection/collection2/kitchen1.JPG);">
                    <!-- Add content to images (sample) -->

                </div>
            </div>

            <!-- Quick Navigation -->
            <div class="fs-quick-nav">
                <label class="fs-quick-btn" for="slide-1"></label>
                <label class="fs-quick-btn" for="slide-2"></label>
                <label class="fs-quick-btn" for="slide-3"></label>
                <label class="fs-quick-btn" for="slide-4"></label>
                <label class="fs-quick-btn" for="slide-5"></label>
            </div>

            <!-- Prev Navigation -->
            <div class="fs-prev-nav">
                <label class="fs-prev-btn" for="slide-1"></label>
                <label class="fs-prev-btn" for="slide-2"></label>
                <label class="fs-prev-btn" for="slide-3"></label>
                <label class="fs-prev-btn" for="slide-4"></label>
                <label class="fs-prev-btn" for="slide-5"></label>
            </div>
            <!-- Next Navigation -->
            <div class="fs-next-nav">
                <label class="fs-next-btn" for="slide-1"></label>
                <label class="fs-next-btn" for="slide-2"></label>
                <label class="fs-next-btn" for="slide-3"></label>
                <label class="fs-next-btn" for="slide-4"></label>
                <label class="fs-next-btn" for="slide-5"></label>
            </div>
        </div>
    </div>

    <div class="container-fluid room-container">
        <div class="center-header">
            <h2> GREAT HOME WITH GREAT VIEWS</h2>
        </div>

        <div class="col-xs-12 col-md-6 room-container">
            <ul class="essential col-xs-12 col-md-6">
                <li><span>2 Bedrooms</span></li>
                <li><span>2 Bathrooms</span></li>
            </ul>
            <ul class="essential col-xs-12 col-md-6">
                <li><span>4 Guests</span> </li>
                <li><span>2 Extra Guests (with charge)</span> </li>
            </ul>
            <div class="bline"></div>
            <div class="details">
                <h2>DESCRIPTION</h2>
                <p>Collection 1 is a  2 bedroom, 2 bathroom unit that can accommodate up to 6 people and one of the most exclusive units of our themes, residing in central downtown Boston. he building has everything you’ll ever want. This includes (but not limited to) indoor heated swimming pool, jacuzzi, private movie theatre, library, private lounges, resident exclusive bar, 5 star hotel service, in-house fine dining option, free coffee & tea between 5-9 and kids playroom. Another exclusive offer is the pet-friendly service, the building is extremely pet-friendly, supplying showers/baths for your furry friends as well as private park for residents and pets.
                    The room includes a TV with Netflix and Xbox with loads of games, super high-speed internet, purifier and full kitchen facilities. Views at sunset are spectacular. To make your stay a safe and secure one you’ll also have key access for the elevator - the only way to your floor.
                </p>
            </div>
            <div class="details">
                <div class="bline"></div>
                <h2>NEIGHBOURHOODS</h2>
                <P>You are placed in the middle of Bostons best selections of places to eat, shop and explore. 5 min walk to Chinatown, Loews theatre and so many more exciting destinations. If you’re still wanting to explore further, the subway entrance is at your doorstep.</P>
                <p>Medical centres are closeby, such as, Tufts Hospital (biggest medical center in centre of Boston). Convenient pharmacies and doctors offices are also within a close distance.</p>
                <p>Shopping options are in the multitudes with shopping centres such as Macy’s and TJMaxx nearby. Designer shops doors are open with ranges of the newest fashions, including (but not limited to) Hermes, Bottega Venetta, etc
                </p>
                <p>Many international cuisines options are available at a short walking distance from your stay, some of the best Mexican, Middle Eastern, European and Asian restaraunts await your hungry mouths.</p>
                <p>Getting Around is a breeze with South Station (main transportation hub for Amtrak and regional buses) only a few minutes walk away and it’s an easy 20 minute drive to and from Boston Logan airport.</p>
            </div>
            <div class="bline"></div>
            <div class="details">
                <h2>THE SPACE</h2>
                <div class="col-md-4  space">
                    <li><img src="images/icons/high_speed_internet.png">High Speed Internet</li>
                    <li><img src="images/icons/tv.png">65in TV</li>
                    <li><img src="images/icons/luxury_linen.png">Luxury linens</li>
                    <li><img src="images/icons/wine_glass.png">Wine Glass</li>
                    <li><img src="images/icons/ac.png">Air Conditioning</li>
                </div>
                <div class="col-md-4  space">
                    <li><img src="images/icons/wifi.png">Wifi</li>
                    <li><img src="images/icons/video_console.png">Xbox</li>
                    <li><img src="images/icons/toilet.png">Toiletries</li>
                    <li><img src="images/icons/kitchen.png">Full Kitchen</li>
                    <li><img src="images/icons/purifier.png">Air Purifier</li>

                </div>
                <div class="col-md-4  space">
                    <li><img src="images/icons/laundry.png">Laundry machine</li>
                    <li><img src="images/icons/netflix.png">Netflix</li>
                    <li><img src="images/icons/stove.png">Electric stove</li>
                    <li><img src="images/icons/oven.png">Oven</li>

                </div>
            </div>

            <div class="bline"></div>
            <div class="details">
                <h2>ACCESS</h2>
                <p>24 concierge</p>
                <p>24 security</p>
                <p>Common lounge</p>
                <p>Full gym</p>
                <p>Parking (fee applicable)</p>
                <p>Common workstation</p>
                <p>Rooftop lounge</p>
                <p>Pet shower</p>
                <p>Pet treats</p>

            </div>

            <div class="bline"></div>
            <div class="details">
                <h2>HOUSE RULE</h2>
                <p>Guest must complete check-in process, including signing a liability-free contract, to gain access of the room. Guest who refuse to complete the check-in procedure will be denied entry.</p>
                <p>Host may check ID upon arrival. Failure to provide government-issued ID may result in cancellation of reservation.</p>
                <p>Smoking will result a $800/day fine.</p>
                <p>No additional guest or friends will be allowed unless paid $150 per person.</p>
                <p>Please Leave no marks nor stains on wall and living room carpet; noticeable stains will result $700 cleaning fee for carpet and minimum $400 for wall damage.</p>
                <p>No dragging furniture nor heavy items on wooden floor; noticeable scratch (bigger than a quarter coin) will result in minimum $1000 repair fee per wood brick.</p>
                <p>Please leave the key fob at the kitchen counter upon check-out; lost key will result $350 replacement fee (only one key will be given).</p>
                <p>Quiet time starts at 10pm (just not too loud that neighbor complains); 2 complaints will result $1000 penalty.</p>
                <p>Building common area opens from 5 am - 10 pm</p>
            </div>

        </div>

        <div class="col-xs-12 col-md-6 room-container">
            <div class="google-map">
                <iframe width="100%"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA-enTY7WgltRlVWlOo94fYx-kdOMvycuI
								&q=300+Harrison+Ave,Boston+MA" allowfullscreen>
                </iframe>
            </div>


            <div>
                <ul class="tags">
                    <li class="tag">Luxury apartment</li>
                    <li class="tag">Full gym</li>
                    <li class="tag">Outdoor swimming pool</li>
                    <li class="tag">Outdoor BBQ grill</li>
                    <li class="tag">Common lounge</li>
                    <li class="tag">Vending machine</li>
                    <li class="tag">Common coffee machine</li>
                    <li class="tag">Whole Foods Market</li>
                    <li class="tag">24hr concierge</li>
                    <li class="tag">Bicycle rental</li>
                    <li class="tag">B&W speaker system</li>
                    <li class="tag">Xbox</li>
                    <li class="tag">Netflix</li>
                    <li class="tag">French Window</li>
                    <li class="tag">2Parking</li>
                </ul>
            </div>
            <div>
                <h5>Kneeland St, Boston, MA 02118</h5>
            </div>
        </div>

    </div>

    <!--<div class="sticky-footer visible-xs">-->

    <!--</div>-->



</section>

<section class="foot">
    <footer id="footer">
        <center><div class="endline"></div></center>
        <div class="container">
            <div class="">
                <ul class="list-inline">
                    <li> <a href="terms.html" class="footer-word">Privacy Policy</a></li>
                    <li> <a href="terms.html" class="footer-word">Terms of Use</a></li>
                    <li> <a href="#" class="footer-word">Careers</a></li>
                    <li> <a href="templates/universal/contact.view.client.html" class="footer-word">Contact Us</a></li>
                </ul>
            </div>
            <div class="list-inline">
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="active active-icon"><img class="footer-icon" src="../images/i1.png"></a></li>
                    <li class="active active-icon"><img class="footer-icon" src="../images/i2.png"></a></li>
                    <li class="active active-icon"><img class="footer-icon" src="../images/i3.png"></a></li>
                    <li class="active active-icon"><img class="footer-icon" src="../images/i4.png"></a></li>

                </ul>
            </div>
        </div>


        <div class="container">
            <div class="row myfooter">
                <div style="text-align: center; color: grey;font-size: 13px;">
                    Copyright, Edena All Rights Reserved
                </div>
            </div>
        </div>
    </footer>
</section>

</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--my script-->
<script src="../js/app.js"></script>
<script src="../js/fold-text.js"></script>

</html>