
<section class="content">
    <!-- slider -->
    <div class="slide-container">
        <div data-am-fadeshow="next-prev-navigation">
            <!-- Radio -->
            <input type="radio" name="css-fadeshow" id="slide-1" />
            <input type="radio" name="css-fadeshow" id="slide-2" />
            <input type="radio" name="css-fadeshow" id="slide-3" />
            <!-- Slides -->
            <div class="fs-slides">
                <div class="fs-slide" style="background-image: url(images/index/banner-1.JPG);">
                    <!-- Add content to images (sample) -->
                    <div class="advertisement hidden-sm hidden-xs">
                        <h3>Our Great Breakfast</h3>
                        <p>
                            simple description
                        </p>
                        <a href="#!/collections" target="_blank" class="btn btn-edena">DISCOVER</a>
                    </div>


                </div>
                <div class="fs-slide" style="background-image: url(images/index/banner-2.JPG);">
                    <!-- Add content to images (sample) -->

                </div>
                <div class="fs-slide" style="background-image: url(images/index/banner-3.JPG);">
                    <!-- Add content to images (sample) -->

                </div>
            </div>

            <!-- Quick Navigation -->
            <div class="fs-quick-nav">
                <label class="fs-quick-btn" for="slide-1"></label>
                <label class="fs-quick-btn" for="slide-2"></label>
                <label class="fs-quick-btn" for="slide-3"></label>
            </div>

            <!-- Prev Navigation -->
            <div class="fs-prev-nav">
                <label class="fs-prev-btn" for="slide-1"></label>
                <label class="fs-prev-btn" for="slide-2"></label>
                <label class="fs-prev-btn" for="slide-3"></label>
            </div>
            <!-- Next Navigation -->
            <div class="fs-next-nav">
                <label class="fs-next-btn" for="slide-1"></label>
                <label class="fs-next-btn" for="slide-2"></label>
                <label class="fs-next-btn" for="slide-3"></label>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="advertisement advertisement-mobile visible-sm visible-xs">
            <h3>Our Great Breakfast</h3>
            <p>
                simple description
            </p>
            <a href="#!/collections" class="btn btn-edena btn-mobile">DISCOVER ></a>
        </div>
    </div>


    <div class="container_fluid introduction2">
<div class="gradient" >
        <div class="introductionText">
        <h2>EDENA PARK</h2>
        <!--<div class="blockText">-->
            <h3>
                A choice of occupancies in absolute central location with limited amenities.
            </h3>
            <p>
                   In our Park range you literally have Boston Commons Park at your doorstep. ot for all retail, hospitality and social needs. A few minutes walk and you’re in the hustling and bustling restaurant zone as well as arriving near State House and Loews theatre. This area is an absolute hotsp Additionally, public transport services are all within a couple of minutes walking distance from all units. Laundry services are available in-building as well as 24hr security.
            </p>
            <a href="#!/collection" target="_blank" class="btn btn-edena btn-mobile">LEARN MORE</a>

    </div>
    </div>
    </div>
        <!--</div>-->

    <div class="container_fluid introduction">
        <!--<div class="blockText">-->
        <div class="gradient">
        <div class="introductionText">
            <h2>EDENA URBAN</h2>
            <h3>A choice of occupancies in absolute central location with limited amenities.</h3>
              <p> In our Park range you literally have Boston Commons Park at your doorstep. ot for all retail, hospitality and social needs. A few minutes walk and you’re in the hustling and bustling restaurant zone as well as arriving near State House and Loews theatre. This area is an absolute hotsp Additionally, public transport services are all within a couple of minutes walking distance from all units. Laundry services are available in-building as well as 24hr security.
            </p>
            <a href="#!/collection" target="_blank" class="btn btn-edena btn-mobile">LEARN MORE</a>
        </div>
    </div>
    </div>
    <!--</div>-->

    <div class="subscribe">
        <div class="container">
            <h4>EDENA COLLECTION</h4>
            <p>EDENA COLLECTION provides the best living experience</p>
            <a href="#!/collections" type="button" class="btn  btn-edena-ad">DISCOVER</a>
        </div>
    </div>
</section>

