<section class="content">
    <div class="container">
        <div class="col-md-3 Sidebar">
            <header class="Sidebar-header">
                <div class="Sidebar-logo"></div>
            </header>
            <nav role="navigation">
                <ul>
                    <li class="Sidebar-navItem">
                        <i class="Sidebar-menuIcon fa fa-user"></i>
                        <a href="">Personal Information</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <i class="Sidebar-menuIcon fa fa-credit-card"></i>
                        <a href="#">Payment</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <i class="Sidebar-menuIcon fa fa-cog"></i>
                        <a href="#">Order History</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <i class="Sidebar-menuIcon fa fa-history"></i>
                        <a href="#">Upcoming Booking</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <i class="Sidebar-menuIcon fa fa-sign-out"></i>
                        <a href="#">Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-9 profile">
            <div class="row">
                <div class="order-breadcrumb">
                    <a href="#" class="">Your Account</a> › <a href="#" class="">Your Orders</a> › <a href="#" class="active">Search Results</a>
                </div>
            </div>

            <div class="row title-row">
                <div class="page-title">
                    <h2>Your Orders</h2>
                </div>
                <div class="search-orders">
                    <input type="text" id="search-me" placeholder="Search all orders">
                    <input type="submit" value="Search Orders">
                </div>
            </div>

            <div class="row order_sorter">
                <ul id="toggle-orders">
                    <li class="first"></li>
                    <li class="oh selected"><a href="#">Order History</a></li>
                    <li class="fo"><a href="#">Future Orders</a></li>
                    <li class="com"><a href="#">Completed Orders</a></li>
                </ul>
            </div>
            <div class="row" id="order-history">


                <!--     <div class="row download-all">
                      <a href="#" class="all-history">Download All Order History</a>
                    </div> -->

                <!--<div class="row post-sorter">-->
      <!--<span class="order-number">Export Order History<span>-->
      <!--<select class="order-sorter">-->
        <!--<option value="0">Select Year</option>-->
        <!--<option value="2017">2017</option>-->
        <!--<option value="2016">2016</option>-->
        <!--<option value="2015">2015</option>-->
        <!--<option value="2014">2014</option>-->
        <!--<option value="2013">2013</option>-->
        <!--<option value="2012">2012</option>-->
      <!--</select>-->
                <!--</div>-->


                <div class="order-container">

                    <div class="header">
                        <div class="row">
                            <div class="col-1"><span>ORDERS PLACED</span><span>08/22/2017</span></div>
                            <div class="col-2"><span>TOTAL</span><span>$650.00</span></div>
                            <div class="col-3"><span>Guest Name</span><span>Jack Steves</span></div>
                            <div class="col-4"><span>ORDER#</span><span>791075</span></div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="row">
                            <div class="col-1">
                                <img src="images/9.jpg" alt="">
                            </div>
                            <div class="col-2">
                                <span class="product-title">1st Franklin St - Edena Collection <i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                <p>Order Status: Finished <br>
                                    Total payment $650 <br>
                                    Check-in Date: Aug 25, 2017 <br>
                                    Check-out Date: Aug 26, 2017 <br>
                                    Billed To: jeudbug@hotmail.com</p>
                                <a href="#" class="btn-default" style="">Re-Order</a>
                            </div>
                            <div class="col-3">
                                <a href="#" class="btn-default">Download</a>
                                <a href="#" class="btn-default">Review</a>
                                <a href="#" class="btn-default">Track</a>
                                <a href="#" class="btn-default">Cancel</a>
                            </div>
                        </div>
                    </div>

                </div><!-- end of order-container -->



            </div><!-- end of Order History -->
            <div id="future-orders">

                <div class="order-container">

                    <div class="header">
                        <div class="row">
                            <div class="col-1"><span>ORDERS PLACED</span><span>08/22/2017</span></div>
                            <div class="col-2"><span>TOTAL</span><span>$750</span></div>
                            <div class="col-3"><span>SHIP TO</span><span>James Doe</span></div>
                            <div class="col-4"><span>ORDER#</span><span>791075</span></div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="row">
                            <div class="col-1">
                                <img src="https://corefact.s3.amazonaws.com/store/prod_imgs/8217241/preview4060-0_catalog.jpg" alt="">
                            </div>
                            <div class="col-2">
                                <span class="product-title">Fenway - Edena Urban <i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                <p>Order Status: Finished <br>
                                    Total payment $650 <br>
                                    Check-in Date: Aug 25, 2017 <br>
                                    Check-out Date: Aug 26, 2017 <br>
                                    Billed To: jeudbug@hotmail.com</p>
                                <a href="#" class="btn-default">Re-Order</a>
                            </div>
                            <div class="col-3">
                                <a href="#" class="btn-default">Download</a>
                                <a href="#" class="btn-default">Review</a>
                                <a href="#" class="btn-default">Track</a>
                                <a href="#" class="btn-default">Cancel</a>
                            </div>
                        </div>
                    </div>

                </div><!-- end of order-container -->

            </div><!-- end of future-orders -->

        </div>
    </div>
</section>
<script src="js/order.js"></script>
