<section class="content">
    <div class="container">
        <div class="col-md-3 Sidebar">
            <header class="Sidebar-header">
                <div class="Sidebar-logo"></div>
            </header>
            <nav role="navigation">
                <ul>
                    <li class="Sidebar-navItem">
                        <i class="Sidebar-menuIcon fa fa-user"></i>
                        <a href="">Personal Information</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <i class="Sidebar-menuIcon fa fa-credit-card"></i>
                        <a href="#">Payment</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <i class="Sidebar-menuIcon fa fa-cog"></i>
                        <a href="#">Order History</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <i class="Sidebar-menuIcon fa fa-history"></i>
                        <a href="#">Upcoming Booking</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <i class="Sidebar-menuIcon fa fa-sign-out"></i>
                        <a href="#">Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-9 profile">
            <div class=" rows">
                <h2>Payment & Credits</h2>
            </div>

            <div class="rows">
                <div class="col-sm-3 left">
                    <h5>Credit Cards</h5>
                </div>
                <div class="col-sm-9 left">
                    <div class="col-md-6">
                    <p>Discover ending in 5970</p>
                    <p>Expire Aug 2021</p>
                        <p><small>Default credit card</small></p>
                    </div>
                    <div class="col-md-6 right">
                        <button class="button-edit">Edit</button>
            </div>
        </div>
            </div>

            <div class="rows">
            <div class="btn btn-edena btn-mobile">
                <a href="#!/payment" target="_blank" class="btn btn-edena btn-mobile">Add credit card</a>
            </div>
            </div>

        </div>
    </div>
</section>