<header class="Sidebar-header">
    <div class="Sidebar-logo"></div>
</header>
<nav role="navigation">
    <ul>
        <li class="Sidebar-navItem">
            <i class="Sidebar-menuIcon fa fa-user"></i>
            <a href="">Personal Information</a>
        </li>
        <li class="Sidebar-navItem">
            <i class="Sidebar-menuIcon fa fa-credit-card"></i>
            <a href="#">Payment</a>
        </li>
        <li class="Sidebar-navItem">
            <i class="Sidebar-menuIcon fa fa-cog"></i>
            <a href="#">Order History</a>
        </li>
        <!--<li class="Sidebar-navItem">-->
            <!--<i class="Sidebar-menuIcon fa fa-history"></i>-->
            <!--<a href="#">Upcoming Booking</a>-->
        <!--</li>-->
        <li class="Sidebar-navItem">
            <i class="Sidebar-menuIcon fa fa-sign-out"></i>
            <a href="#">Log out</a>
        </li>
    </ul>
</nav>