
<section class="content">
    <div class="content">
        <div class="about-section">
            <div class="container">
                <div class="about-grids">
                    <div class="col-md-6 about-grid">
                        <h3>LAST UPDATED: AUGUST 25, 2017</h3>
                        <div class="about1">
                            <div class="about-right">
                                <p>This Privacy Policy ("Policy") applies to information received by Edena Urban Resorts Co. (the "Company"). This notice describes our privacy policy ("Policy") with respect to data collected via www.edenaresidences.com, interactive features, applications, widgets, blogs, social networks and social network "tabs" and other online or wireless offerings that post a link to this Privacy Policy, whether accessed via computer, mobile device or other technology (together, the "Website"). This Policy explains what information we collect about you and what we do with it. The Company reserves the right to revise this privacy policy at any time. We will notify you of any material changes to the Policy by posting the new Policy here and by changing the "Last Updated" date at the top. You should periodically read this Policy to learn of any revisions.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 about-grid1">
                        <h3>WHAT INFORMATION DO WE COLLECT?</h3>
                        <div class="about2">
                            <div class="about-right1">
                                <p>When you take a cruise with us, ask for information about the Company, visit the Website or through various other methods, we collect information about you and your visit. We collect credit card information from you where applicable, in order to facilitate your purchases. We collect individually-identifiable personal information ("Personal Data") that you provide to us such as your name, e-mail address, street address and telephone number. You supply us this Personal Data when you take an action such as taking a cruise, requesting information, purchasing something and/or some other action to voluntarily supply your Personal Data to us.

                                    On our Website, in addition to Personal Data, we also collect non-personally identifiable data, such as (but not limited to) the number of unique visitors, the frequency of visits to the Website, the Website pages viewed, the site the visitor arrived from and departs to, as well as the IP address of the computer being used to access the Website.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    <div class="clearfix"></div>
                </div>
                <div class="about-bottom">
                    <div class="col-md-6 about-bottom1">
                        <h3>WHAT DO WE DO WITH THE INFORMATION WE COLLECT?</h3>
                        <div class="about4">
                            <div class="aboutbottom-left">
                            </div>
                            <div class="aboutbottom-right">

                                <p>We use the Personal Data we collect to provide our services and engage in advertising and marketing activities. We use credit card and/or other financial information that you provide us to fulfill your order or request. The Company takes reasonable precautions in order to attempt to ensure the safety and security of our customer’s online transactions. Credit card numbers that you enter on our billing webpage are encrypted and transmitted through SSL (Secure Sockets Layer) technology. SSL is the industry standard for securing Web-messaging transactions.

                                    On our Website, we use IP addresses and anonymous demographic information in the aggregate to share with advertisers and market researchers, and to improve the design of our Website so as to better serve our customers.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <div class="col-md-6 about-bottom2">
                        <h3>DO WE SHARE THE INFORMATION WE COLLECT WITH THIRD PARTIES?</h3>
                        <p>We share Personal Data as well as non-personally identifiable data with our business partners to provide our services, for market and industry research purposes, for advertising and marketing purposes, and for other reasons.

                            The Company may transfer any information in its databases, including but not limited to Personal Data, to an affiliate or third party as part of a transfer of business assets.

                            The Company may also release any data in order to comply with any legal process, including requests from law enforcement and government agencies, to enforce the Website Terms of Use and other agreements, and to protect customers and others. We may do so when we believe in good faith that disclosing this information is otherwise necessary or advisable, including, for instance, to identify, contact, or bring legal action against someone who may be causing injury to or interfering with the rights or property of the Company, another user or anyone else that could be harmed by such activities.

                            The Company may disclose Personal Data when we have reason to believe that disclosing this information is necessary to identify, investigate, contact or bring legal action against someone who may be causing injury to or interference with (either intentionally or unintentionally) the Website or the Company’s rights or property.</p>
                    </div>
                    <div class="clearfix"></div>
                </div><div class="about-bottom">
                        <div class="col-md-6 about-bottom1">
                            <h3>DO WE USE COOKIES?</h3>
                            <div class="about4">
                                <div class="aboutbottom-left">
                                </div>
                                <div class="aboutbottom-right">

                                    <p>Yes. Cookies are small data files generated by web servers and stored in your computer for future access. We use them for a variety of reasons, such as to study visitors' use of the Website and to improve your navigation of it. For example, a cookie can allow you to continue shopping without having to re-enter items already placed in the shopping cart. The majority of Web browsers accept cookies, but the "help" menu on your browser should give you options for preventing, accepting, or receiving notice of new cookies. You can configure your web-browser to disable cookies, but doing so may impair your use of the Website.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                        <div class="col-md-6 about-bottom2">
                            <h3>SECURITY</h3>
                            <p>While the Company strives to protect Personal Data and user privacy, we cannot guarantee the security of any information you disclose online and you do so at your own risk. Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, while we strive to protect your Personal Data, the Company cannot ensure or warrant the security of any information you transmit to us or from our online products or services, and you do so at your own risk. Once we receive your transmission, we use reasonable efforts to ensure its security on our systems.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
    </div>

</section>

