<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--my css -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/slider.css">
    <link rel="stylesheet" href="../css/subscribe.css">
    <title>Terms</title>
</head>
<body>

<!-- nave bar -->
<nav class="navbar navbar-default mainheader">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-bar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="mylogo">
                <a  href="../index.html"><img class="headlogo" src="../images/logo_small.jpg"></a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav-bar">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown">BOOK NOW<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-column columns-4 wide-row">
                        <iframe src="http://app.littlehotelier.com/properties/edenaluxuryapartmentsdirect/widget?number_of_days=7"  frameborder="1" scrolling="no" allowtransparency="true" class="reservatoin-head hidden-xs">
                        </iframe>
                        <iframe src="http://app.littlehotelier.com/properties/edenaluxuryapartmentsdirect/booking_widget" height="200" width="250" frameborder="0" scrolling="no" allowtransparency="true" class="visible-xs"></iframe>
                    </ul>
                </li>

                <li class="divider-vertical"></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Room Types <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><h5 href="collections.html">All Types</h5></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Edena Collection</a></li>
                        <li><a href="#">Edena Urban</a></li>
                        <li><a href="#">Edena Park</a></li>
                    </ul>
                </li>

                <li class="divider-vertical"></li>

                <li class="dropdown grid ">
                    <a href="templates/universal/aboutus.view.client.html"> What We Do </a>
                </li>

                <li class="divider-vertical"></li>

                <li class="dropdown grid">
                    <a href="templates/universal/contact.view.client.html">Contact Us</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<section class="content">
    <div class="content">
        <div class="about-section">
            <div class="container">
                <div class="about-grids">
                    <div class="col-md-8 about-grid">
                        <h3>Terms of Service</h3>
                        <div class="about1">
                            <div class="about-right">
                                <h5>We understand your nees</h5>
                                <p>sss .</p>
                                <p>sss . </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-4 about-grid1">
                        <h3>Privacy Policy</h3>
                        <div class="about2">
                            <div class="about-left1">
                                <p>1</p>
                            </div>
                            <div class="about-right1">
                                <h5>Airbnb Privacy Police</h5>
                                <p>Airbnb here ....</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="about3">
                            <div class="about-left1">
                                <p>2</p>
                            </div>
                            <div class="about-right1">
                                <h5>Return Policy</h5>
                                <p>balabala.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="about2">
                            <div class="about-left1">
                                <p>3</p>
                            </div>
                            <div class="about-right1">
                                <h5>XX Policy</h5>
                                <p>balabala.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="about-bottom">
                    <div class="col-md-8 about-bottom1">
                        <h3>NonDISCRIMINATION POLICY</h3>
                        <div class="about4">
                            <div class="aboutbottom-left">
                                <p>1</p>
                            </div>
                            <div class="aboutbottom-right">
                                <h5>zzzzzz</h5>
                                <p>ssssssssss.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="about5">
                            <div class="aboutbottom-left">
                                <p>2</p>
                            </div>
                            <div class="aboutbottom-right">
                                <h5>dddd</h5>
                                <p>ddddddddd.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="about4">
                            <div class="aboutbottom-left">
                                <p>3</p>
                            </div>
                            <div class="aboutbottom-right">
                                <h5>aaaa</h5>
                                <p>ssssssss.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-4 about-bottom2">
                        <h3>NONDISCRIMINATION</h3>
                        <h5>sss</h5>
                        <p>sssssllss.</p>
                        <a href="#">Please visit the link to view our opportunities or to make an enquiry.</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="foot">
    <footer id="footer">
        <center><div class="endline"></div></center>
        <div class="container">
            <div class="">
                <ul class="list-inline">
                    <li> <a href="terms.html" class="footer-word">Privacy Policy</a></li>
                    <li> <a href="#" class="footer-word">Terms of Use</a></li>
                    <li> <a href="#" class="footer-word">Careers</a></li>
                    <li> <a href="templates/universal/contact.view.client.html" class="footer-word">Contact Us</a></li>
                </ul>
            </div>
            <div class="list-inline">
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="active active-icon"><img class="footer-icon" src="../images/i1.png"></a></li>
                    <li class="active active-icon"><img class="footer-icon" src="../images/i2.png"></a></li>
                    <li class="active active-icon"><img class="footer-icon" src="../images/i3.png"></a></li>
                    <li class="active active-icon"><img class="footer-icon" src="../images/i4.png"></a></li>


                </ul>
            </div>
        </div>


        <div class="container">
            <div class="row myfooter">
                <div style="text-align: center; color: grey;font-size: 13px;">
                    Copyright, Edena All Rights Reserved
                </div>
            </div>
        </div>
    </footer>
</section>

</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--my script-->
<script src="../js/app.js"></script>
<script src="../js/fold-text.js"></script>

</html>