<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--my css -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/slider.css">
    <link rel="stylesheet" href="../css/subscribe.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--my script-->
    <script src="../js/app.js"></script>
    <script src="../js/fold-text.js"></script>
    <!--<script src="js/responsiveslides.min.js"></script>-->
    <title>Title</title>

<body>


<div class="textBlock">
    <div class="justText">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rhoncus odio at neque fermentum malesuada. Aliquam at elit mauris. Morbi sed porttitor dui. Nullam ut facilisis lectus. Aenean dignissim arcu pharetra, tempus purus sed, sagittis orci. Vestibulum odio eros, lacinia ut aliquet et, vulputate eu felis. Nam eu magna vitae justo pharetra consectetur. Cras facilisis risus nec ante tristique blandit. In eleifend nibh vel volutpat molestie. Praesent tempor dolor urna.
        </p>
        <p>
            Praesent pellentesque urna in felis dictum, nec pretium orci volutpat. Cras risus neque, dictum sed sapien ac, tristique dignissim lacus. Quisque nulla orci, commodo in interdum eget, suscipit sed augue. Mauris lobortis egestas mauris et condimentum. Sed sed justo in elit fringilla eleifend. Mauris ipsum lacus, sollicitudin bibendum tristique sed, fringilla ac nisl. In lobortis, augue ut aliquam euismod, nibh dui volutpat elit, id vestibulum nunc nisl vitae sem. Quisque diam arcu, placerat quis pharetra ac, tristique vel est. Nulla ac odio eu mauris dignissim consectetur quis sit amet neque. Cras gravida bibendum lacinia. Vestibulum id porttitor ipsum, sed dignissim mauris. Curabitur sagittis suscipit arcu non lobortis. Proin convallis, velit ut scelerisque tincidunt, est nulla viverra quam, id scelerisque turpis ligula at urna. In at purus risus.
        </p>
    </div>
</div>
</body>
<script src="../js/fold-text.js"></script>
</html>