
<section class="content">

    <div class="aboutus-banner">
        <div class="container">
            <h2>About Us</h2>
        </div>
    </div>

    <div class="content">
        <div class="terms">
            <div class="container">
                <h7>Introduction</h7>
                <p> We are a company based in Boston.is a pet friendly hotel and has always been very welcoming to animals. During the renovations from 1905-1907, the workers took in a stray greyhound that had been living on-site. Hotel personnel then adopted the dog, and it soon became the mascot and inspiration for the Meurice’s emblem today – a pair of Greyhounds. Also, when Salvador Dali one of the Meurice’s regular guests, checked out, the hotel staff had to completely repaint the Suite Royale because his two tame ocelots particularly loved the carpets!

                    Little surprise for the pet,
                    Complimentary pet basket (for cats and dogs) available,
                    Specific menus and food options available on demand,
                    The grooms are pleased to walk dogs in the Tuileries Garden.</p>
                <h7>Our Service</h7>
                <p> We provide ....They can also play with custom-made toy wooden boats to sail in the boat pond in the Tuileries Garden. A treasure hunt is organized at the hotel with the Pistache mascot and awarded with an exclusive hotel gift.is a pet friendly hotel and has always been very welcoming to animals. During the renovations from 1905-1907, the workers took in a stray greyhound that had been living on-site. Hotel personnel then adopted the dog, and it soon became the mascot and inspiration for the Meurice’s emblem today – a pair of Greyhounds. Also, when Salvador Dali one of the Meurice’s regular guests, checked out, the hotel staff had to completely repaint the Suite Royale because his two tame ocelots particularly loved the carpets!

                    Little surprise for the pet,
                    Complimentary pet basket (for cats and dogs) available,
                    Specific menus and food options available on demand,
                    The grooms are pleased to walk dogs in the Tuileries Garden.</p>
                <h7>General  Information</h7>
                <p>Thanks to its perfect location in the 1st district of Paris, the families can relax at the hotel and the children have fun. We organize visits to the Jardin d’Acclimation, the Parc André Citroën, or even cruises on the Bateaux-Mouches. Children can do some Carousel rides in the Tuileries Garden or play with the toys at their disposal at the reception while the mothers do shopping.</p>
            </div>
        </div>
    </div>
</section>
