
<section class="content">
    <div class="contact">
        <div class="container">

            <div class="contact-infom">
                <h4>Contact Us</h4>
                <h5>We would love to hear from you!</h5>
                <p>If you have any questions we are timely in our response and aim to deliver a high-quality service. If you have any feedback for us, whether it’s about our vacancies or site, we also would love to hear from you.</p>
            </div>

            <div class="col-md-5 col-xs-12">
                <h4>Address</h4>
                <p><span class="glyphicon glyphicon-map-marker"></span>1 Franklin St, Boston MA 20110</p>
            </div>
            <div class="clearfix"> </div>
            <div class="col-md-5 col-xs-12">
                <h4>Email</h4>
                <p><span class="glyphicon glyphicon-envelope"></span>service@edenaresorts.com</p>
            </div>
            <div class="clearfix"> </div>

            <div class="contact-form">
                <h4>Contact form</h4>
                <form>
                    <input type="text"  placeholder="name" id="name">
                    <input type="email"  placeholder="email" id="email">
                    <input type="text"  placeholder="phone number" id="telephone">
                    <textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required>Message...</textarea>
                    <button class="btn btn-edena">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
