<section class="foot">
    <footer id="footer">
        <center><div class="endline"></div></center>
        <div class="container">
            <div class="">
                <ul class="list-inline">
                    <li> <a href="#!/privacy" class="footer-word">Privacy Policy</a></li>
                    <li> <a href="#!/privacy" class="footer-word">Terms of Use</a></li>
                    <li> <a href="#" class="footer-word">Careers</a></li>
                    <li> <a href="#!/contact" class="footer-word">Contact Us</a></li>
                </ul>
            </div>
            <div class="list-inline">
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="active active-icon"><img class="footer-icon" src="images/i1.png"></a></li>
                    <li class="active active-icon"><img class="footer-icon" src="images/i2.png"></a></li>
                    <li class="active active-icon"><img class="footer-icon" src="images/i3.png"></a></li>
                    <li class="active active-icon"><img class="footer-icon" src="images/i4.png"></a></li>


                </ul>
            </div>
        </div>


        <div class="container">
            <div class="row myfooter">
                <div style="text-align: center; color: grey;font-size: 13px;">
                    Copyright, Edena All Rights Reserved
                </div>
            </div>
        </div>
    </footer>
</section>