 <div class="container">
        <div class="col-md-3 Sidebar">
            <header class="Sidebar-header">
                <div class="Sidebar-logo"></div>
            </header>
            <nav role="navigation">
                <ul>
                    <li class="Sidebar-navItem">
                        <i class="Sidebar-menuIcon fa fa-user"></i>
                        <a href="">Personal Information</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <i class="Sidebar-menuIcon fa fa-credit-card"></i>
                        <a href="#">Payment</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <i class="Sidebar-menuIcon fa fa-cog"></i>
                        <a href="#">Order History</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <i class="Sidebar-menuIcon fa fa-history"></i>
                        <a href="#">Upcoming Booking</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <i class="Sidebar-menuIcon fa fa-sign-out"></i>
                        <a href="#">Log out</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div ng-switch="model.mode">

            <div class="col-md-9 profile" ng-switch-when="view">
                <div class=" rows">
                    <h2>{{model.user.firstName}} {{model.user.lastName}}</h2>
                </div>
                <div class="rows">
                    <div class="col-sm-3 left">
                         <p>username</p>
                    </div>
                    <div class="col-sm-9 right">
                        <p>{{model.user.username}}</p>
                     </div>
                </div>

                <div class="rows">
                    <div class="col-sm-3 left">
                        <p>First name:</p>
                    </div>
                    <div class="col-sm-9 right">
                        <p>{{model.user.firstName}}</p>
                    </div>
                </div>

                <div class="rows">
                    <div class="col-sm-3 left">
                        <p>Last name:</p>
                    </div>
                    <div class="col-sm-9 right">
                        <p>{{model.user.lastName}}</p>
                    </div>
                </div>

                <div class="btn btn-edena btn-mobile">
                    <a href=""
                       class="btn btn-edena btn-mobile"
                       ng-click="model.switchEdit()">Edit Profile</a>
                </div>
            </div>


            <div class="col-md-9" ng-switch-when="edit">
                <h5>Username</h5>
                <input type="text"
                       class="form-control input-block"
                       readonly
                       ng-model="model.user.username">

                <h5>First Name</h5>
                <input type="text"
                       class="form-control input-block"
                       placeholder="first name"
                       ng-model="model.user.firstName">

                <h5>Last Name</h5>
                <input type="text"
                       class="form-control input-block"
                       placeholder="last name"
                       ng-model="model.user.lastName">

                <h5>Phone number</h5>
                <input type="number"
                       class="form-control input-block"
                       placeholder="Phone Number"
                       ng-model="model.user.phone">

                <div class="btn btn-edena btn-mobile">
                <a href=""
                   class="btn btn-edena btn-mobile"
                   ng-click="model.updateProfile()">Save</a>
            </div>
            </div>

         </div>
    </div>



