
<section class="content">

    <div class="col-xs-12 col-md-8 collections-container">
        <div class="tab">
            <ul class="tabs" id="filter-tab">
                <li><a href="">all</a></li>
                <li><a href="">urban</a></li>
                <li><a href="">park</a></li>
                <li class="tabs-lasta"><a href="">collection</a></li>
            </ul> <!-- / tabs -->

            <div class="tab_content">
                <div class="tabs_item">
                    <p>Edena provides you with wonderful living experience.</p>
                </div> <!-- / tabs_item -->

                <div class="tabs_item">
                    <p> Buildings with exemplary amenities within the city borders. You get to enjoy still being close to downtown and the amenities available are superb of which includes (but not limited to) a gym with high-quality equipment, swimming pool, comfortable lobby, private lounge & bar, 24 hour concierge and printing/office services. 5 star services and much more is what you can expect when staying here. These residences are within 0.5 mile radius of downtown Boston. Public transport as well bike hire is extremely accessible.</p>
                </div> <!-- / tabs_item -->

                <div class="tabs_item">
                    <p>A choice of occupancies in absolute central location with limited amenities.
                        In our Park range you literally have Boston Commons Park at your doorstep. A few minutes walk and you’re in the hustling and bustling restaurant zone as well as arriving near State House and Loews theatre. This area is an absolute hotspot for all retail, hospitality and social needs. Additionally, public transport services are all within a couple of minutes walking distance from all units. Laundry services are available in-building as well as 24hr security.
                        .</p>
                </div> <!-- / tabs_item -->

                <div class="tabs_item">
                    <p>Collection: An array of beautiful residences in prime central locations with the best amenities. In our collection range you can expect to be residing in 5 star accommodation in the central city area of Boston with the best amenities at your doorstep. Staying in a unit from our collection range you can have access to - exquisite suites, contrast temperature controlled swimming pools (hot for cold days, cold for hot days), private gyms with high-quality equipment, private lobbies, exclusive lounges and office/printing services and much more!</p>
                </div> <!-- / tabs_item -->

            </div> <!-- / tab_content -->
        </div> <!-- / tab -->
        <div class="comtainer-fluid room-row">
            <div class="col-md-6 col-sm-12 room-block urban all">
                <a href="#!/urban"><img src="images/EdenaUrban/livingroom1.jpg" class="img-responsive"></a>
                <h5>Harrison Ave, Suite 1</h5>
                <h6>$399/NIGHT</h6>
                <div class="idxpresright-bottom">
                    <ul class="class=tags">
                        <li class="tag">Historical building</li>
                        <li class="tag">Best location</li>
                        <li class="tag">Boston Commons park</li>
                        <li class="tag">Free water</li>
                        <li class="tag">Free soda</li>
                        <li class="tag">Subway station</li>
                        <li class="tag">24hr surveillance</li>
                        <li class="tag">Xbox</li>
                        <li class="tag">Netflix</li>
                        <li class="tag">Air conditioning</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 room-block urban all">
                <a href="#!/park"><img src="images/EdenaPark/park1/livingroom.JPG" class="img-responsive"></a>
                <h5>Boyslton St, Suite 1</h5>
                <h6>$399/NIGHT</h6>
                <div class="idxpresright-bottom">
                    <ul class="class=tags">
                        <li class="tag">Historical building</li>
                        <li class="tag">Best location</li>
                        <li class="tag">Boston Commons park</li>
                        <li class="tag">Free water</li>
                        <li class="tag">Free soda</li>
                        <li class="tag">Subway station</li>
                        <li class="tag">24hr surveillance</li>
                        <li class="tag">Xbox</li>
                        <li class="tag">Netflix</li>
                        <li class="tag">Air conditioning</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="comtainer-fluid room-row">
            <div class="col-md-6 col-sm-12 room-block park all">
                <a href="#!/park"><img src="images/EdenaPark/park1/bedroom1.JPG" class="img-responsive"></a>
                <h5>Boyslton St, Suite 2</h5>
                <h6>$399/NIGHT</h6>
                <div class="idxpresright-bottom">
                    <ul class="class=tags">
                        <li class="tag">Historical building</li>
                        <li class="tag">Best location</li>
                        <li class="tag">Boston Commons park</li>
                        <li class="tag">Free water</li>
                        <li class="tag">Free soda</li>
                        <li class="tag">Subway station</li>
                        <li class="tag">24hr surveillance</li>
                        <li class="tag">Xbox</li>
                        <li class="tag">Netflix</li>
                        <li class="tag">Air conditioning</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 room-block park all">
                <a href="#!/collection1"><img src="images/EdenaPark/EdenaParkLivingRoom.JPG" class="img-responsive"></a>
                <h5>Franklin St, Suite 1</h5>
                <h6>$399/NIGHT</h6>
                <div class="idxpresright-bottom">
                    <ul class="class=tags">
                        <li class="tag">Historical building</li>
                        <li class="tag">Best location</li>
                        <li class="tag">Boston Commons park</li>
                        <li class="tag">Free water</li>
                        <li class="tag">Free soda</li>
                        <li class="tag">Subway station</li>
                        <li class="tag">24hr surveillance</li>
                        <li class="tag">Xbox</li>
                        <li class="tag">Netflix</li>
                        <li class="tag">Air conditioning</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="comtainer-fluid room-row">
            <div class="col-md-6 col-sm-12 room-block collection all">
                <a href="#!/collection2"><img src="images/EdenaCollection/collection2/livingroom1.JPG" class="img-responsive"></a>
                <h5>Kneeland St, Suite 1</h5>
                <h6>$399/NIGHT</h6>
                <div class="idxpresright-bottom">
                    <ul class="class=tags">
                        <li class="tag">Historical building</li>
                        <li class="tag">Best location</li>
                        <li class="tag">Boston Commons park</li>
                        <li class="tag">Free water</li>
                        <li class="tag">Free soda</li>
                        <li class="tag">Subway station</li>
                        <li class="tag">24hr surveillance</li>
                        <li class="tag">Xbox</li>
                        <li class="tag">Netflix</li>
                        <li class="tag">Air conditioning</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 room-block collection all">
                <a href="#!/collection3"><img src="images/EdenaCollection/collection3/livingroom1.JPG" class="img-responsive"></a>
                <h5>Washington St, Suite 1</h5>
                <h6>$399/NIGHT</h6>
                <div class="idxpresright-bottom">
                    <ul class="class=tags">
                        <li class="tag">Historical building</li>
                        <li class="tag">Best location</li>
                        <li class="tag">Boston Commons park</li>
                        <li class="tag">Free water</li>
                        <li class="tag">Free soda</li>
                        <li class="tag">Subway station</li>
                        <li class="tag">24hr surveillance</li>
                        <li class="tag">Xbox</li>
                        <li class="tag">Netflix</li>
                        <li class="tag">Air conditioning</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="hotelmap" class="custom-popup "></div>


</section>
<script src='js/map.js'></script>
<script src="js/tab.js"></script>
<script src='js/filter.js'></script>
<script src="js/fixmap.js"></script>


